.carousel__left__arrow {
    transform: rotate(180deg);
    max-width: 100%;
    max-height: 100%;
    height: auto;
    cursor: pointer;
    position: absolute;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding:10px;
    background-color:whitesmoke;
    filter: grayscale(100%);
    top: 30%;
    z-index: 999;
    float: left;
    opacity: 0.5;
}