@import '../../styles/variables.scss';

.thumbnails__row{
    text-align:center;
}

.thumbnails__list{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom:0px;
}

.thumbnails__item{
    cursor:pointer;
}
.thumbnails__item > h5{
    color:$author-color;
    font-size: 14px;
    font-weight:800;
}
