@import '../../styles/variables.scss';

.carousel__list_style {
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    white-space: nowrap;
    padding:0px;
    position:relative;
    text-align: center;
    margin-top:0px;
}

.carousel__container{
    background-color:rgb(248, 241, 241);
    width:100%;
    margin:0px !important;
}

.carousel__list_style>li{
    padding-bottom:20x;
    margin:10px; 
}

#contentCarousel{
    width:100%;
    max-width: 100%;
    max-height:80%;
    
}

.list_style_slide{
    flex-grow:2;
    display:block; 
    padding-top:0px;
}
.list_style_slide>h3{
    color:$author-color;
    font-size: 18px;
    font-weight:900;
}
